:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --header-height: 60px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-top: var(--header-height);
  width: 100%;
  text-align: justify;
}

header {
  position: fixed;
  inset: 0;
  background-color: #242424;
  height: var(--header-height);
}

footer {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 20px;
  padding: 10px;
  border-top: 0.5px solid rgba(255, 255, 255, 0.502);
}

#root main {
  margin: 0 auto;
  width: max(70vw, 640px);
}

.auftrag::before {
  content: "Auftrag";
  font-size: 1.2em;
  font-weight: bold;
  display: block;
}

.auftrag {
  border-left: 5px solid grey;
  padding-left: 20px;
}

h1 a {
  text-decoration: none;
  color: inherit;
}

h1 > .back {
  font-size: 12pt;
}

h1 {
  margin: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

ol.nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
  padding: 5px 0;
}

ol.nav li:hover > a {
  text-decoration: underline;
}

ol.nav > li {
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.502);
  margin-bottom: 15px;
  padding-bottom: 15px;
}

ol.nav * {
  font-weight: normal;
  font-size: 1rem;
}

ol.nav {
  width: clamp(460px, 70%, 720px);
  margin: 10px auto;
  list-style: none;
}

.btn {
  background-color: cornflowerblue;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(83, 123, 199);
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
}

.right::before {
  content: "";
}
